body {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: black;
  color: white;
}

#content {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: red;
}